<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pokemon_Sparkle.Properties.SettingsVolume" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Pokemon_Sparkle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pokemon_Sparkle.Properties.SettingsVolume>
            <setting name="Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AccessFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerImage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Pokemon_Sparkle.Properties.SettingsVolume>
        <Pokemon_Sparkle.Properties.Settings>
            <setting name="CurrentLocation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HealthBar" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="ExpBar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LevelMonster" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxHealth" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="PlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LoadGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerImage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayerFainted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AfterBattle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxAttPlayer" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MissionQuest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuestNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AcceptQuest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Potion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NamePlayer" serializeAs="String">
                <value />
            </setting>
        </Pokemon_Sparkle.Properties.Settings>
    </userSettings>
</configuration>